<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<f:loadBundle basename="customerbundle" var="bundle" />

<h:head>
	<title><ui:insert name="add-success">#{bundle.SuccessHeading}</ui:insert></title>

</h:head>
<h:body>
	<div>#{bundle.CustomerUpdateSuccess}</div>	
	<br/>	
	<h:link value="#{bundle.AddCustomerLink}" outcome="addcustomer" />
	<br/>
	<h:link value="#{bundle.DebugViewLink}" outcome="debug" />
	<br/>
</h:body>
</html>