<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:outputStylesheet library="css" name="style.css" />
<f:loadBundle basename="customerbundle" var="bundle" />

<h:head>
	<title>#{bundle.AddCustomerHeading}</title>
</h:head>
<body>
	<h:form>
		<h:panelGrid class="cust-table" columns="3">
			<h:outputLabel for="firstName">#{bundle.FirstName}</h:outputLabel>
			<h:inputText id="firstName" value="#{customerBean.firstName}"
				maxlength="32" required="true"
				requiredMessage="#{bundle.FirstNameRequired}">
			</h:inputText>
			<br />
			<h:outputLabel for="lastName">#{bundle.LastName}</h:outputLabel>
			<h:inputText id="lastName" value="#{customerBean.lastName}"
				maxlength="32" required="true"
				requiredMessage="#{bundle.LastNameRequired}">
			</h:inputText>
			<br />
			<h:outputLabel for="addressFirstLine">#{bundle.Address}</h:outputLabel>
			<h:inputText id="addressFirstLine"
				value="#{customerBean.addressFirstLine}" maxlength="64"
				required="true" requiredMessage="#{bundle.AddressRequired}">
			</h:inputText>
			<br />
			<h:outputLabel for="postalCode">#{bundle.PostalCode}</h:outputLabel>
			<h:inputText id="postalCode" value="#{customerBean.postalCode}"
				maxlength="8" required="true"
				requiredMessage="#{bundle.PostalCodeRequired}">
			</h:inputText>
			<br />
			<h:outputLabel for="email">#{bundle.Email}</h:outputLabel>
			<h:inputText id="email" value="#{customerBean.email}" required="true"
				label="Email" validatorMessage="#{bundle.InvalidEmailMessage}"
				requiredMessage="#{bundle.EmailRequiredMessage}">
				<f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)" />
			</h:inputText>
		</h:panelGrid>
		<h:commandButton action="${customerBean.submit()}" id="submit-button"
			value="#{bundle.Submit}">
		</h:commandButton>
		<h:messages style="color:red">
		</h:messages>
	</h:form>
</body>
</html>
