<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<f:loadBundle basename="customerbundle" var="bundle" />
<h:head>
	<title>#{bundle.ListCustomerHeading}</title>
</h:head>
<body>
	<div>
	<h3> Customers table:</h3>
		<h:dataTable value="#{debugBean.customers}" var="customer" border="1">
			<h:column>
				<f:facet name="header">Id</f:facet>			
    				#{customer.id}
    			</h:column>
			<h:column>
				<f:facet name="header">#{bundle.FirstName}</f:facet>
    				#{customer.firstName}
    			</h:column>
			<h:column>
				<f:facet name="header">#{bundle.LastName}</f:facet>
    				#{customer.lastName}
    			</h:column>
			<h:column>
				<f:facet name="header">#{bundle.Address}</f:facet>
    				#{customer.billingAddress.firstLine}
    			</h:column>
			<h:column>
				<f:facet name="header">#{bundle.PostalCode}</f:facet>
    				#{customer.billingAddress.postalCode}
    			</h:column>
			<h:column>
				<f:facet name="header">#{bundle.Email}</f:facet>
    				#{customer.email}
    			</h:column>
		</h:dataTable>
	</div>
	<div>
	<h3>Audit table:</h3>
		<h:dataTable value="#{debugBean.auditRecords}" var="auditRecord"
			border="1">
			<h:column>
				<f:facet name="header">ID</f:facet>
    				#{auditRecord.id}
    			</h:column>
			<h:column>
				<f:facet name="header">Date</f:facet>			
    				#{auditRecord.date.time}
    			</h:column>
			<h:column>
				<f:facet name="header">Entity ID</f:facet>
    				#{auditRecord.entityId}
    			</h:column>
			<h:column>
				<f:facet name="header">Update Type</f:facet>
    				#{auditRecord.type.toString()}
    			</h:column>
		</h:dataTable>
	</div>
</body>
</html>